NEXTJS_ENV=development
ALLOW_LOCAL_ADMIN=true
ADMIN_EMAILS=jonathan@jonathanmann.net
ACCESS_AUD=
ACCESS_TEAM_DOMAIN=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_R2_PUBLIC_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=MOTBA <noreply@motba.art>
